.panel {
	margin-right: 40px;
	background-color: #282c34;
	color: #fff;
	height: 250vh;
	position: relative;
	transition: left 0.5s ease-in-out;
	padding: 20px;
	left: 0;
	flex-basis: 200px;
	flex-grow: 0;
	flex-shrink: 0;
	opacity: 1;
}

.panel.collapsed {
	left: -200px;
	height: 250vh;
}

.panel .collapse-btn {
	width: 40px;
	position: absolute;
	top: 0;
	right: -40px;
	font-size: 20px;
	border: none;
	background-color: #282c34;
	color: #fff;
	cursor: pointer;
}
.go-back-btn {
	position: absolute;
	bottom: 10px;
	font-size: 20px;
	border: none;
	background-color: #282c34;
	color: #fff;
	cursor: pointer;
}
ul {
	list-style: none;
}
.ul-content {
	display: none;
	
}
.ul-content.collapsed {
	display: block;
	position: absolute;
	top: 0;
	right: 15px;
	font-size: 20px;
	color: #fff;
}