.contact {
    padding: 20px;
    margin: 10px;
    border-radius: 5px;
    text-align: center;
  }
  
  .contact h2 {
    font-size: 1.5rem;
    margin-bottom: 15px;
  }
  
  .contact ul {
    list-style: none;
    padding: 0;
  }
  
  .contact li {
    margin: 10px 0;
    font-size: 1.2rem;
  }
  
  .contact a {
    text-decoration: none;
    color: black;
    display: flex;
    align-items: center;
  }
  
  .contact a svg {
    margin-right: 10px;
    font-size: 1.5rem;
    color: rgba(38, 193, 126, 1);
  }
  