.container {
	transition: margin-left 0.5s ease-in-out;
	margin-left: 40px;
}

.container.collapsed {
	margin-left: -160px;
}
h3 {
	Width: 122px;
	Height: 30px;
	size: 25px;
	color: rgba(38, 193, 126, 1);
}
.education {
	display: flex;
	flex-wrap: wrap;
	flex-direction: column;
}
.eduxationDiv {
	display: flex;
	flex-wrap: nowrap;
	flex-direction: row;
}
.eduxationDiv span {
	margin-right: 20px;
	display: flex;
	flex-direction: column;
	align-items: flex-end;
	justify-content: space-around;

}
.hug {
	width: 5px;
	height: 100px;
	background-color: rgba(38, 193, 126, 1);
}
.eduDiv {
	display: flex;
	flex-wrap: wrap;
	flex-direction: column;
	text-align: left;
	padding: 15px;
	margin: 5px;
	background-color: rgba(238, 238, 238, 1);
}

.skill {
	height: 29px;
	max-width: 960px;
	background-color:  rgba(38, 193, 126, 1);
	margin: 5px;
}
.html , .css {
	width: 750px;
}
.javascript {
	width: 500px;
}
.react {
	width: 350px;
}
.skillBackground {
	height: 60px;
	
	margin: 5px;
	background: url("../../assets/scale.png") no-repeat;
}