.container {
	transition: margin-left 0.5s ease-in-out;
	margin-left: 40px;
}

.container.collapsed {
	margin-left: -160px;
}

.portfolio {
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	grid-gap: 40px;
}

.portfolio .portfolio-item {
	position: relative;
	overflow: hidden;
	border: 1px solid #ccc;
	padding: 20px;
}

.portfolio .portfolio-item h1 {
	margin: 0;
}

.portfolio .portfolio-item:hover .image {
	display: none;
}

.portfolio .portfolio-item .image {
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	background-size: cover;
	background-repeat: no-repeat;
}

.tabs {
	list-style: none;
	padding: 0;
	margin: 0;
	display: flex;
	align-items: center;
	margin-bottom: 20px;
}

.tabs .tabs-item {
	cursor: pointer;
}

.tabs .tabs-item:not(:last-child) {
	margin-right: 20px;
}

.tabs .tabs-item.active {
	color: #61dafb;
}

@media screen and (max-width: 1200px) {
	.portfolio {
		display: grid;
		grid-template-columns: repeat(2, 1fr);
		grid-gap: 40px;
	}
}
