.app {
  position: relative;
  height: 100vh;
  background: url('../public/background.jpg') no-repeat center center fixed;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  text-align: center;
}

.background {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5); 
}

.profile-picture {
  background: url('./assets/Profile.jpeg');
  background-size: cover;
  border: 1px;
  border-radius: 50%;
  width: 163px;
  height: 163px;
  object-fit: cover;
}

.content {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  z-index: 1;
  line-height: 25px;
}

h1, h2, h5, p {
  margin: 15px;
}
.content h1 {
  font-size: 45px;
  font-weight: 700;
  line-height: 54px;
  letter-spacing: 0em;
  text-align: center;
}
.know-more {
  text-decoration: none;
  color: #fff;
}
.btn {
  background-color: rgba(34, 41, 53, 1);
  color: white;
  border: none;
  padding: 10px 20px;
  margin-top: 20px;
  cursor: pointer;
  border-radius: 5px;
}
